<!DOCTYPE html>
<html>
  <head>
    <title>Create New Category</title>
  </head>
  <body>
    <h1>Create New Category</h1>

    <%- include('../partials/form-layout', { pageTitle: 'Create New Category',
    formContent: '../categories/category-form', formData: { formAction:
    '/categories/create', submitButtonText: 'Create Category' }, backUrl:
    '/categories' }) %>
  </body>
</html>
