<!DOCTYPE html>
<html>
  <head>
    <title>Update Category</title>
  </head>
  <body>
    <h1>Update Category</h1>

    <% if (category) { %> <%- include('../partials/form-layout', { pageTitle:
    'Update Category', formContent: '../categories/category-form', formData: {
    formAction: `/categories/${category.category_id}/update`, submitButtonText:
    'Update Category', category: category }, backUrl:
    `/categories/${category.category_id}` }) %> <% } else { %>
    <p>Category not found.</p>
    <% } %>
  </body>
</html>
