<!DOCTYPE html>
<html>
  <head>
    <title>Create New Car</title>
  </head>
  <body>
    <h1>Create New Car</h1>

    <%- include('../partials/form-layout', { pageTitle: 'Create New Car',
    formContent: '../cars/car-form', formData: { formAction: '/cars/create',
    submitButtonText: 'Create Car', categories: categories }, backUrl: '/cars'
    }) %>
  </body>
</html>
