<!DOCTYPE html>
<html>
  <head>
    <title>Update Car</title>
    <style>
      .error-message {
        color: red;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Update Car</h1>

    <% if (locals.errors && errors.length > 0) { %>
    <div class="error-message">
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
    <% } %> <% if (car) { %> <%- include('../partials/form-layout', { pageTitle:
    'Update Car', formContent: '../cars/car-form', formData: { formAction:
    `/cars/${car.car_id}/update`, submitButtonText: 'Update Car', car: car,
    categories: categories }, backUrl: `/cars/${car.car_id}` }) %> <% } else {
    %>
    <p>Car not found.</p>
    <% } %>
    <p>
      <a href="/cars/<%= car ? car.car_id : '' %>">Back to Car Detail</a> |
      <a href="/cars">Back to Car List</a>
    </p>
  </body>
</html>
